.dockerignore
.DS_Store
.git
.github
.gitignore
.idea
*.md
Dockerfile
Dockerfile.archive
docker-compose.yml
.editorconfig
.prettierrc
node_modules
.env
.env.example
tsconfig.json
fly.toml
mnt
playwright.config.ts
/tests
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/trace
.eslintrc.cjs
*.zip
